# .flake8
[flake8]
max-line-length = 88
extend-ignore = 
    E203,  # conflicts with black
    W503,  # line break before binary operator
    D100, D101, D102, D103, D104, D105  # ignore missing docstrings (optional)
exclude = 
    .git,
    __pycache__,
    env,
    venv,
    .venv,
    .mypy_cache,
    .pytest_cache,
    .ipynb_checkpoints,
    migrations,
    tests/__init__.py
